.mat-h2{
    margin-top: 80px;
    font-size: 30px;
}
h1{
    border-bottom: 2px solid red;
    background-color: lightgrey;
}
.buttons{
    margin-top: 5px;
}
.mat-form-field {
    font-size: 17px;
    width: 40%;
}
mat-table{
    background-color: rgba(245, 182, 165, 0.774);
}