<div class="page-body">
  <h2 class="mat-h2">{{categoryName}}</h2>

  <mat-table #table [dataSource]="items">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell class="name-header" *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} Ft</mat-cell>
    </ng-container>

    <ng-container matColumnDef="spicy">
      <mat-header-cell *matHeaderCellDef>Spicy</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.spicy?'✔':'✗'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="vegetarian">
      <mat-header-cell *matHeaderCellDef>Vegetarian</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.vegetarian?'✔':'✗'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="'/categories/' + categoryId + '/items/' + element.id">Details</a>
        <button *ngIf="authService.isLoggedIn" mat-icon-button color="primary" (click)="toCart(element.id); openSnackBarOk();">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
