<div class="page-body">
  <h2 class="mat-h2">{{categoryId}}</h2>

  <mat-table #table [dataSource]="items">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isSpicy">
      <mat-header-cell *matHeaderCellDef> Csipos</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.isSpicy}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isVegetarian">
      <mat-header-cell *matHeaderCellDef> Vega</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.category.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-button [routerLink]="'/categories/' + categoryId + '/items/' + element.id">Details</a>
        <button mat-button (click)="toCart(element.id)" class="mat-accent">Add to cart</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
