<div class="page-body">
  <h2 class="mat-h2">Your Cart</h2>

  <mat-table #table [dataSource]="cartItems">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} Ft</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

<h1 class="total">Total : {{total}} Ft</h1>
<button mat-raised-button [disabled]="!emptyCart" routerLink="/orderform">Send order</button><button mat-button (click)="deleteCart()" class="mat-accent">Delete cart</button>
