.mat-table {
    overflow: auto;
    max-height: 500px;
    text-align: center;
    border-radius: 25px;
    background-color: hsla(140, 64%, 47%, 0.884);
    box-shadow: 10px 10px 5px grey;
}
.mat-h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
}
.mat-cell{
    font-size: 20px;
}