<div class="page-body">
  <h2 class="mat-h2">Categories</h2>

  <mat-table #table [dataSource]="categori">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
    [routerLink]="'/categories/' + row.id">
  </mat-row>
  </mat-table>

</div>
