<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h1 class="mat-h1">{{item.name}}</h1></mat-card-title>
    <mat-card-subtitle>{{item.price}} Ft</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <b>Description</b> : {{item.description}}
    </p>
    <div>
      <b>Spicy</b> : {{item.spicy?'✔':'✗'}}  <b>Vegetarian</b> : {{item.vegetarian?'✔':'✗'}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="'/categories/' + catId">Back</button>
  </mat-card-actions>
</mat-card>
